.hotel
    padding-top: 23px
    padding-bottom: 70px
    &-info
        display: flex
        align-items: center
        justify-content: space-between
        &__rating
            display: flex
            flex-direction: column
            align-items: center
.hotel-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
.info
    &__stars
        flex-basis: 100%

    &__hotel-name
        font-size: 24px
        line-height: 30px
        margin-top: 4px
        margin-bottom: 0
    &__offer
        font-size: 10px
        line-height: 13px
        width: 70px
        height: 20px
        padding: 4px 9px
        border-radius: 3px
        background-color: $button-color
        color: $light
        margin-left: 14px
        margin-top: 4px

    &__description
        font-size: 12px
        line-height: 15px
        margin-top: 0
        margin-bottom: 20px
.rating
    width: 65px
    height: 45px
    padding-top: 6px
    text-align: center
    color: $light
    background-color: $button-color
    border-radius: 4px
    &__text
        font-size: 8px
        line-height: 10px
        padding: 2px
    &__counter
        font-size: 14px
        line-height: 18px
.swiper
    width: 100%
    height: 450px
    margin-left: 0
    position: relative
    border-radius: 8px
    &::after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        bottom: 0
        right: 0
        left: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
        z-index: 10
.slider
    width: 728px
    &-button
        position: absolute
        top: 50%
        transform: translateY(-50%)
        z-index: 99
        width: 30px
        height: 30px
        border: none
        cursor: pointer
        background-repeat: no-repeat
        background-position: center
        background-size: 30px
        background-color: transparent
        &__next
            right: 18px
            background-image: url(../img/arrow-next.svg)
        &__prev
            left: 18px
            background-image: url(../img/arrow-prev.svg)
