.hotel
    padding-top: 23px
    padding-bottom: 70px
    &-info
        display: flex
        align-items: center
        justify-content: space-between
        &__rating
            display: flex
            flex-direction: column
            align-items: center
.hotel-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
.info
    &__stars
        flex-basis: 100%

    &__hotel-name
        font-size: 24px
        line-height: 30px
        margin-top: 4px
        margin-bottom: 0
    &__offer
        font-size: 10px
        line-height: 13px
        width: 70px
        height: 20px
        padding: 4px 9px
        border-radius: 3px
        background-color: $button-color
        color: $light
        margin-left: 14px
        margin-top: 4px

    &__description
        font-size: 12px
        line-height: 15px
        margin-top: 0
        margin-bottom: 20px
.rating
    width: 65px
    height: 45px
    padding-top: 6px
    text-align: center
    color: $light
    background-color: $button-color
    border-radius: 4px
    &__text
        font-size: 8px
        line-height: 10px
        padding: 2px
    &__counter
        font-size: 14px
        line-height: 18px
